<?xml version="1.0" encoding="utf-8"?>
<configuration>
  


  <appSettings>
    <add key="ProtocolToSFTP" value="Protocol.Sftp"/><!--protocolo de transmision con Dataimagenes-->
    <add key="PortNumber" value="22"/>
    <add key="PassworDataImagenes" value="P@g$$f3ct1v$"/> <!--Password to acces to SFTP from DataImagenes-->
    <add key="UserNameDataImagenes" value="pagoefectivo"/> <!--Usuario DataImagenes-->
    <add key="HostNameDataImagenes" value="190.81.45.62"/><!--Nombre del servidor DataImagenes-->
    <add key="SshHostKeyFingerprintDataImagenes" value="ssh-rsa 2048 6d:1b:c8:97:e7:93:62:84:0c:24:bd:b4:e7:1b:46:51"/> <!--Credenciales llaves-->
    <add key="SshPrivateKeyPathDataImagenesConfiguration" value="C://Users//user//Desktop//pagoefectivo.ppk"/><!--Ruta de la configuracion acceso a dataimages  statico-->
    <add key="SshPrivateKeyPassphraseDataImages" value="P@g$$f3ct1v$"/> <!--PassPhrase to generate new KeyPhrases to Dataimgenes SFTP-->
    <add key="LocalPathTosaveFiles" value="@F:\ValidarDataimages\"/> <!--Ruta local donde se guardara las respuestas de DataImagenes-->
    <add key="PathFTPServer" value="/home/dataimagenes/pagoefectivo/home/pagoefectivo/SALIDA/"/> <!--Ruta donde se aloja las respuestas de DataImages-->
  </appSettings>

</configuration>