


<!DOCTYPE html>
<html>
<head>
    <title>main Page</title>

</head>
<body>
    @RenderPage("~/Views/Main_Page/_Header.cshtml");


    
    @RenderPage("~/Views/Main_Page/_Footer.cshtml");
</body>
</html>
