<?xml version="1.0"?>
<configuration>


    
        <connectionStrings >
            <add name="Neptuno"
                 connectionString="Data Source=WIN7SP1; Initial Catalog=Northwind; Integrated Security=True"
                 providerName ="System.Data.SqlClient"/>

        </connectionStrings>
    <system.web>

    </system.web>
</configuration>
